html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: var(--graphite);
  background-color: var(--warm-stone);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--forest-green);
}

li {
    list-style-position: outside;
}

hr {
    margin: 0;
}